# DEMO-KEY
#
# Default = 1 seat (no signup). Same key on every machine = 1 seat each.
# More seats: ask support for a key, replace this line only.
# Usage:
#   export FINGERPRINTCHROME_LICENSE_KEY='DEMO-KEY'
#   or copy to ~/.fingerprintchrome/license.key (one line)
